PRODUCTS_SERVICE_LINK=https://37yguasxvd.execute-api.eu-west-1.amazonaws.com/dev/products
CART_SERVICE_LINK=http://evgeniimal-cart-api-develop.eu-west-1.elasticbeanstalk.com/api/profile/cart
ORDER_SERVICE_LINK=https://xx09xrrggd.execute-api.eu-west-1.amazonaws.com/api/profile/cart/order
CACHED_RESPONSE_UPSTREAM_URL=https://37yguasxvd.execute-api.eu-west-1.amazonaws.com/dev/products